.prenda {
    border: 1px solid gray;
    margin: 20px;
    max-width: 400px;
    padding: 20px;
}
.guardarropas {
    border: 1px solid gray;
    margin: 20px;
    max-width: 400px;
    padding: 20px;
}

.detalles {
    display: inline-block;
    margin-left: 40px;
}
body{
    font-family: "Helvetica Neue", Helvetica;
}

.picker1{
	 position: relative;
	 top: 0;
	 bottom: 0;
	 left: 0;
	 right: 0;
	 margin: auto;
	 width: 720px;
	 height: 180px;
 }

.picker2{
	position: relative;
	top: 50px;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	width: 720px;
	height: 180px;
}

#display1{
	width: 100%;
	height: 100px;
	background: #730aa2;
	transition: background 100ms;
	margin-top: 30px;
	border: 1px solid #000;
}

#display2{
	width: 100%;
	height: 100px;
	background: #730aa2;
	transition: background 100ms;
	margin-top: 30px;
	border: 1px solid #000;
}
input{
    display: block;
	width: 100%;
}