<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../../../main.css">
    <link href="https://fonts.googleapis.com/css?family=Sarala|Stardos+Stencil:700|Comfortaa:400,700" rel="stylesheet">

    <script src="https://kit.fontawesome.com/8d3ba4a6ac.js" crossorigin="anonymous"></script>
</head>

<body>

{{> nav.hbs}}
<div class="jumbotron text-center" style="margin-bottom:0;">
    <div id="titulo">
        <h1 class="text-center" style="font-family: 'Stardos Stencil">Contanos que te parecio la sugerencia<i
                class="fas fa-user-tie"></i>
        </h1>
    </div>
</div>




<div class="container-fluid text-center">

    <form action="/Calificacion" method="POST">

        <br>

        <div class="container-fluid">
{{#each categoria }}
            <label>{{this}}</label>
            <select name="{{this}}">
                <option>Bien</option>
                <option>Frio</option>
                <option>Calor</option>

            </select>
            <br>
{{/each}}
        </div>

            <div class="card-body d-flex">
                <a href="/AtuendoPorCalificar"  class="btn btn-primary">Volver
                    Atras
                </a>

                <button  type="submit" value="perfil" name="botoncito"  class="btn btn-primary ml-auto">Enviar calificacion
                </button>
            </div>

    </form>

</div>

{{> footer.hbs}}

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

</body>
</html>