<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../../../main.css">
    <link href="https://fonts.googleapis.com/css?family=Sarala|Stardos+Stencil:700|Comfortaa:400,700" rel="stylesheet">

    <script src="https://kit.fontawesome.com/8d3ba4a6ac.js" crossorigin="anonymous"></script>
</head>
<body>

<div class="jumbotron text-center">
    <div id="titulo">
        <h1 class="text-center" style="font-family: 'Stardos Stencil">Crea tu propia prenda <br><br> QueMePongo<i
                class="far fa-copyright"></i></h1>
    </div>
</div>
<div class="container-fluid">
    <h3>Elegi el guardarropas en donde guardar tu nueva prenda</h3>
</div>

<form action="/perfil/dgag/CrearPrenda/final" method="POST">
    <div class="container-fluid">
        <label>Guardarropas</label>

        <select name="guardarropas">
            <option>Guardarropas</option>
            {{#each guardarropas }}
                <option>{{nombre}}</option>
            {{/each}}
        </select><br>
    </div>
    <button type="submit" value="Finalizar proceso" class="btn btn-primary btn-lg btn-block">Siguiente
        paso
    </button>
</form>

</body>
</html>