<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../../main.css">
</head>
<body>
<h1>
    Crea tu propia prenda con este creador de Prendas QueMePongo©
</h1>

<label>Elegi el guardarropas en donde guardar tu nueva prenda</label>
<form action="/perfil/dgag/CrearPrenda/final" method="POST">
    <label>Guardarropas</label>
    <select name="guardarropas">
        <option>Guardarropas</option>
        {{#each guardarropas }}
            <option>{{nombre}}</option>
        {{/each}}
    </select><br>
    <input type="submit" value="Finalizar proceso">
</form>

</body>
</html>