<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../../../main.css">
</head>
<body>
<h1>
    Crea tu propia prenda con este creador de Prendas QueMePongo©
</h1>

<h2>Color primario:</h2>
<div class="picker1">
    Red <input type="range" min="0" max="255" step="1" id="redColorPrimario" value="115" name="rojo1">
    Green <input type="range" min="0" max="255" step="1" id="greenColorPrimario" value="10" name="azul1">
    Blue <input type="range" min="0" max="255" step="1" id="blueColorPrimario" value="162" name="verde1">
    <div id="display1"></div>
</div>
<script type="text/javascript">
	var input = document.querySelectorAll("input");
		for(var i = 0; i < input.length; i++){
		input[i].addEventListener("input", function(){
			var red = document.getElementById("redColorPrimario").value,
			    green = document.getElementById("greenColorPrimario").value,
			    blue = document.getElementById("blueColorPrimario").value;
				var display = document.getElementById("display1");
			display.style.background = "rgb(" + red + ", " + green + ", " + blue + ")";
		});
	}
</script>

<br><br><br><br>
<h2>Color secundario:</h2>
<div class="picker2">
    Red <input type="range" min="0" max="255" step="1" id="redColorSecundario" value="115" name="rojo2">
    Green <input type="range" min="0" max="255" step="1" id="greenColorSecundario" value="10" name="azul2">
    Blue <input type="range" min="0" max="255" step="1" id="blueColorSecundario" value="162" name="verde2">
    <div id="display2"></div>
</div><br><br><br><br>
<script type="text/javascript">
	var input = document.querySelectorAll("input");
		for(var i = 0; i < input.length; i++){
		input[i].addEventListener("input", function(){
			var red = document.getElementById("redColorSecundario").value,
			    green = document.getElementById("greenColorSecundario").value,
			    blue = document.getElementById("blueColorSecundario").value;
				var display = document.getElementById("display2");
			display.style.background = "rgb(" + red + ", " + green + ", " + blue + ")";
		});
	}
</script>
</div><br><br><br><br>
<form action="/perfil/dgag/CrearPrenda/2" method="POST">
    <label>Agregar Color Secundario</label>
    <input type  ="checkbox" name="tieneColorSecundario">
    <input type="submit" value="Finalizar Prenda">
</form>

</body>
</html>