<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../../../main.css">
    <link href="https://fonts.googleapis.com/css?family=Sarala|Stardos+Stencil:700|Comfortaa:400,700" rel="stylesheet">

    <script src="https://kit.fontawesome.com/8d3ba4a6ac.js" crossorigin="anonymous"></script>
</head>
<body>

<div class="jumbotron text-center">
    <div id="titulo">
        <h1 class="text-center" style="font-family: 'Stardos Stencil">Crea tu propia prenda <br><br> QueMePongo<i
                class="far fa-copyright"></i></h1>
    </div>
</div>

<br>
<form action="/perfil/dgag/CrearPrenda/2" method="POST">
    <div class="container-fluid">
        <h2 style="font-family: 'Sarala">Color primario:</h2>
    </div>
    <div class="picker1">
        Red <input type="range" min="0" max="255" step="1" id="redColorPrimario" value="115" name="rojo1">
        Green <input type="range" min="0" max="255" step="1" id="greenColorPrimario" value="10" name="azul1">
        Blue <input type="range" min="0" max="255" step="1" id="blueColorPrimario" value="162" name="verde1">
        <div id="display1"></div>
    </div>
    <script type="text/javascript">
        var input = document.querySelectorAll("input");
        for (var i = 0; i < input.length; i++) {
            input[i].addEventListener("input", function () {
                var red = document.getElementById("redColorPrimario").value,
                        green = document.getElementById("greenColorPrimario").value,
                        blue = document.getElementById("blueColorPrimario").value;
                var display = document.getElementById("display1");
                display.style.background = "rgb(" + red + ", " + green + ", " + blue + ")";
            });
        }

    </script>

    <br><br><br><br>
    <div class="container-fluid">
        <h2 style="font-family: 'Sarala">Color secundario:</h2>
    </div>
    <div class="picker2">
        Red <input type="range" min="0" max="255" step="1" id="redColorSecundario" value="115" name="rojo2">
        Green <input type="range" min="0" max="255" step="1" id="greenColorSecundario" value="10" name="azul2">
        Blue <input type="range" min="0" max="255" step="1" id="blueColorSecundario" value="162" name="verde2">
        <div id="display2"></div>
    </div>
    <br><br><br><br>
    <script type="text/javascript">
        var input = document.querySelectorAll("input");
        for (var i = 0; i < input.length; i++) {
            input[i].addEventListener("input", function () {
                var red = document.getElementById("redColorSecundario").value,
                        green = document.getElementById("greenColorSecundario").value,
                        blue = document.getElementById("blueColorSecundario").value;
                var display = document.getElementById("display2");
                display.style.background = "rgb(" + red + ", " + green + ", " + blue + ")";
            });
        }

    </script>
    </div><br><br><br><br>


    <div class="custom-control custom-checkbox" align="center">
        <input type="checkbox" name="tieneColorSecundario" class="custom-control-input" id="defaultUnchecked">
        <label class="custom-control-label" for="defaultUnchecked">Agregar color secundario</label>
    </div>

    <br>

    <button type="submit" value="Finalizar Prenda" class="btn btn-primary btn-lg btn-block">Siguiente
        paso
    </button>
</form>

</body>
</html>