<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../../main.css">
</head>
<body>
<h1>
    Crea tu propia prenda con este creador de Prendas QueMePongo©
</h1>

<label>Nombre de tu prenda</label>
<form action="/perfil/dgag/CrearPrenda" method="POST">
<input type="text" name="nombrePrenda"><br>
<label>Tipo de Prenda</label>
<select name="tipoPrenda">
    <option>Tipo De Prenda</option>
    {{#each Tipos }}
        <option>{{this}}</option>
    {{/each}}
</select><br>
<label>Material de Prenda</label>
<select name="materialPrenda">
    <option>Material De Prenda</option>
    {{#each Materiales }}
        <option>{{this}}</option>
    {{/each}}
</select><br>
<label>Trama de Prenda</label>
<select name="tramaPrenda">
    <option>Trama De Prenda</option>
    {{#each Tramas }}
        <option>{{this}}</option>
    {{/each}}
</select><br>

<!-- arreglar esto -->

    <input type="submit" value="Siguiente paso">
</form>

</body>
</html>