<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../public/main.css">
</head>
<body>
<h1>
    Crea tu propia prenda con este creador de Prendas QueMePongo©
</h1>
<div class="picker">
    Red <input type="range" min="0" max="255" step="1" id="red" value="115">
    Green <input type="range" min="0" max="255" step="1" id="green" value="10">
    Blue <input type="range" min="0" max="255" step="1" id="blue" value="162">
    <div id="display" style="background: height: 75px;"></div>
</div>
<script type="text/javascript">
	var input = document.querySelectorAll("input");
		for(var i = 0; i < input.length; i++){
		input[i].addEventListener("input", function(){
			var red = document.getElementById("red").value,
			    green = document.getElementById("green").value,
			    blue = document.getElementById("blue").value;
				var display = document.getElementById("display");
			display.style.background = "rgb(" + red + ", " + green + ", " + blue + ")";
		});
	}
</script>

</body>
</html>