<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../../main.css">
</head>
<body>
<h1>
    Error en logeo:
</h1>

    <div>
    <h1> mira capo de la vida, volves a intentar usar un usuario que no es tuyo o una contraseña incorrecta
    y te rompo la cabeza entendiste master?</h1>
    </div>

</body>
</html>