<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../../main.css">
    <script src="https://kit.fontawesome.com/8d3ba4a6ac.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Sarala|Stardos+Stencil:700|Comfortaa:400,700" rel="stylesheet">

</head>

<div class="jumbotron text-center">
    <div id="titulo">
        <h1 class="text-center" style="font-family: 'Stardos Stencil">Algo salio mal: <i class="fas fa-flushed"></i></h1>
    </div>
</div>
<div class="container-fluid">
    <h2 style="font-family: 'Sarala"> Mira capo de la vida, volves a intentar usar un usuario que no es tuyo o una contraseña incorrecta
        y te rompo la cabeza entendiste master? <i class="far fa-grin-squint-tears"></i>
    </h2>

</div>


</body>
</html>