
<!-- Footer -->
<footer class="container-fluid page-footer bg-dark text-white pt-4">

    <!-- Footer Links -->
    <div class="container-fluid text-center text-md-left">

        <!-- Grid row -->
        <div class="row container-fluid">

            <!-- Grid column -->
            <div class="col-md-6 mt-md-0 mt-3 container-fluid">

                <!-- Content -->
                <h5 class="text-uppercase">Informacion</h5>
                <p>Que Me Pongo es una distribucion de Roli Company. Queda totalmente prohibida
                    la distribucion de este producto de manera comercial, dejando solo legal
                    su distribucion en caso de investigacion, proyectos de concientizacion o para
                    aprobar el tp de diseño.</p>

            </div>
            <!-- Grid column -->

            <hr class="clearfix w-100 d-md-none pb-3">


            <!-- Grid column -->
            <div class="col-md-3 mb-md-0 mb-3">

                <!-- Links -->
                <h5 class="text-uppercase">Links</h5>

                <ul class="list-unstyled">
                    <li>
                        <a href="#">Link 1</a>
                    </li>
                    <li>
                        <a href="#">Link 2</a>
                    </li>
                    <li>
                        <a href="#">Link 3</a>
                    </li>
                    <li>
                        <a href="#">Link 4</a>
                    </li>
                </ul>

            </div>
            <!-- Grid column -->

        </div>
        <!-- Grid row -->

    </div>
    <!-- Footer Links -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2019 Copyright:
        <a href="https://https://dds-jv.github.io/"> QueMePongo.com</a>
    </div>
    <!-- Copyright -->

</footer>
<!-- Footer -->
