<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../../main.css">
</head>
<body>
    <h1>
        holaRoli
    </h1>
    <form action="/login" method ="POST">
        <label>Usuario</label>
        <input type="text" name= "user"><br>
        <label>contrasenia</label>
        <input type ="text" name="pass"><br><br>
        <input type ="submit" value="Submit">
    </form>

</body>
</html>