<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../../main.css">
    <link href="https://fonts.googleapis.com/css?family=Sarala|Stardos+Stencil:700|Comfortaa:400,700|Oswald:400,500" rel="stylesheet">

    <script src="https://kit.fontawesome.com/8d3ba4a6ac.js" crossorigin="anonymous"></script>
</head>
<body>
{{> nav.hbs}}

<br>
<div class="jumbotron text-center" style="margin-bottom:0;">
    <div id="titulo">
        <h1 class="text-center" style="font-family: 'Stardos Stencil">Guardarropas: <i class="fas fa-mitten" style="color: green"></i></h1>
    </div>
</div>
<br>

{{#each guardarropas}}
    <div class="guardarropa">
            <!-- <style>
                body { background-image: url("guardarropa.png");
                        background-repeat: no-repeat;
                        background-size: 2000px 1400px;
                        background-position: center;}
            </style>-->
        <div class="container-fluid" >
        <h1 class="text-center mb-2">{{nombre}}</h1>
            <div class="container w-75">
                {{> carousel.hbs}}
            </div>
            <form action="/perfil" method="POST">
                <button type="submit" value ={{nombre}} name="botoncito"  class="btn btn-primary" style="margin-top: 20px;margin-left: 1000px;">Crear Prenda
                </button>
            </form>
        </div>
    </div>
{{/each}}

<script>
    var headings = document.evaluate("//div[@class=\"carousel-inner row w-100 mx-auto\"]/div", document, null, XPathResult.ANY_TYPE, null);
    var thisHeading = headings.iterateNext();
    while (thisHeading) {
        thisHeading.classList.add("active");
        thisHeading = headings.iterateNext();
    }
</script>
{{> footer.hbs}}
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>
